﻿@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <h4 class="card-header text-secondary text-center">
                    -- FORGOT PASSWORD --
                </h4>
                <div class="card-body">
                    <form asp-action="Forgot" method="post">
                        @if (ViewBag.Error != null)
                        {
                            <p class="text-danger">@ViewBag.Error</p>
                        }
                        <div class="form-group mb-2">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="reset-email" name="resetemail" asp-validation-for="reset-email" placeholder="Enter email">
                        </div>
                        <div class="form-group text-center mb-2">
                            <button type="submit" class="btn btn-primary btn-block ">Send</button>
                            <a asp-action="Login" class="btn btn-secondary btn-block ">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


