<div class="container d-flex vh-100">
    <div class="row align-self-center mx-auto text-center">
        <div class="col-md-12">
            <h1 class="display-4">Link Expired</h1>
            <p class="lead">Sorry, this link has expired. Please contact Metateam Internship Team .</p>
            <a asp-action="Login" class="btn btn-primary mt-3">Back To Login</a>
        </div>
    </div>
</div>
